@font-face {
    font-family: "MonumentExtended";
    src: url('../static/Font/MONUMENTEXTENDED-REGULAR.OTF');
  }
  
  body {
    background-color: #1b2841 !important;
    overflow: hidden;
  }
  
  #title {
    position: absolute;
    left: 40px;
    top: 18px;
    color: white;
    font-family: "MonumentExtended";
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
  }
  
  #about {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "MonumentExtended";
  }
  
  #uploadButton {
    position: absolute;
    top: 90%;
    left: 20%;
    color: white;
  }
  
  #rcorners1 {
    border-radius: 25px;
    transform: rotate(250deg);
    background: #27395b;
    position: absolute;
    right: 1250px;
    top: 600px;
    width: 650px;
    height: 400px;
  }
  
  #rcorners2 {
    border-radius: 25px;
    transform: rotate(300deg);
    background: #27395b;
    position: absolute;
    right: -200px;
    top: -300px;
    width: 650px;
    height: 1200px;
  }
  
  #rcorners3 {
    position: absolute;
    background: yellow;
    width: 48px;
    height: 48px;
    bottom: 16px;
    right: 16px;
  }
  
  #pythonIcon {
    position: absolute;
    right: 16px;
    bottom: 208px;
  }
  
  #jsIcon {
    position: absolute;
    right: 18px;
    bottom: 17px;
  }
  
  #htmlIcon {
    position: absolute;
    right: 16px;
    bottom: 80px;
  }
  
  #cssIcon {
    position: absolute;
    right: 16px;
    bottom: 144px;
  }
  
  #vscIcon {
    position: absolute;
    right: 20px;
    bottom: 272px;
  }
  
  #figmaIcon {
    position: absolute;
    right: 16px;
    bottom: 336px;
  }
  
  #githubIcon {
    position: absolute;
    right: 16px;
    bottom: 400px;
  }
  
  button:hover {
    background-color: #008cba; /* change to your desired color */
    color: white; /* change to your desired color */
  }
  #signInButton {
    font-family: "MonumentExtended";
    border-radius: 8px;
    color: white;
    background-color: #171f2d;
    border: none;
    padding: 5px;
    position: relative;
    width: 220px;
    margin-left: 1300px;
    margin-top: 25px;
  }
  
  #signInButton:hover {
    background-color: #008cba;
  }
  
  #logInButton {
    font-family: "MonumentExtended";
    border-radius: 8px;
    color: white;
    background-color: #171f2d;
    border: none;
    padding: 5px;
    position: absolute;
    width: 220px;
    margin-left: 1060px;
    margin-top: -26px;
  }
  
  #logInButton:hover {
    background-color: #008cba;
  }
  
  .calendar-wrapper {
    position: fixed;
    bottom: 85px; /* Leaves room for the upload bar */
    right: 247px;
    width: 30%;
  }
  
  .calendar-container {
    position: absolute;
    bottom: 30px; /* Start from bottom to open upwards */
    border-radius: 8px;
    background-color: #27395b;
    color: #f5f5f5;
    width: 400px;
    height: 72px;
    transition: height 0.5s ease;
    overflow: hidden;
    z-index: 1;
  }
  
  .expandable-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 25%;
    padding-right: 16px;
    height: 72px;
    border-radius: 8px;
    background-color: #171f2d;
    color: #f5f5f5;
    font-family: "MonumentExtended";
    font-size: 16px;
    cursor: pointer;
  }
  
  .settings-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #27395b;
    color: #f5f5f5;
    cursor: pointer;
  }
  
  .upload-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 12px;
    background-color: #171f2d;
    color: #f5f5f5;
    width: 60%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 20%;
    right: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 10;
  }
  
  .upload-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: #27395b;
    color: #f5f5f5;
    cursor: pointer;
  }
  
  .file-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #28334a;
    color: #f5f5f5;
    font-family: "MonumentExtended";
    width: 140px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .file-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  ion-icon {
    font-size: 25px;
  }
  
  .initial-text {
    position: absolute;
    font-family: "MonumentExtended";
    left: 10%;
    color: #767676;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .error-message {
    position: fixed;
    bottom: 120px; /* Position just above the upload bar */
    left: 33%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
    color: #ff4d4f;
    font-size: 14px;
    z-index: 20; /* Ensure it appears above other elements */
  }
  