@font-face {
    font-family: 'MyFont';
    src:
        url('MONUMENTEXTENDED-REGULAR.OTF')
        format('opentype');
}

body {
    background-color: #1B2841 !important;
    overflow: hidden;
}

#title {
    position: absolute;
    left: 40px;
    top: 18px;
    color: white;
    font-family: MyFont;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

#about {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: MyFont;
}

#uploadButton {
    position: absolute;
    top: 90%;
    left: 20%;
    color: white;
}

#rcorners1 {
    border-radius: 25px;
    transform: rotate(250deg);
    background: #27395B;
    position: absolute;
    right: 1250px;
    top: 600px;
    width: 650px;
    height: 400px;
}

#rcorners2 {
    border-radius: 25px;
    transform: rotate(300deg);
    background: #27395B;
    position: absolute;
    right: -200px;
    top: -300px;
    width: 650px;
    height: 1200px;
}

#rcorners3 {
    position: absolute;
    background: yellow;
    width: 48px;
    height: 48px;
    bottom: 16px;
    right: 16px;
}

#pythonIcon {
    position: absolute;
    right: 16px;
    bottom: 208px;
}

#jsIcon {
    position: absolute;
    right: 18px;
    bottom: 17px;
}

#htmlIcon{
    position: absolute;
    right: 16px;
    bottom: 80px;
}

#cssIcon {
    position: absolute;
    right: 16px;
    bottom: 144px;
}

#vscIcon {
    position: absolute;
    right: 20px;
    bottom: 272px;
}

#figmaIcon {
    position: absolute;
    right: 16px;
    bottom: 336px;
}

#githubIcon {
    position: absolute;
    right: 16px;
    bottom: 400px;
}

button:hover {
    background-color: #008CBA; /* change to your desired color */
    color: white; /* change to your desired color */
}
#signInButton {
    font-family: MyFont;
    border-radius: 8px;
    color: white;
    background-color: #171F2D;
    border: none;
    padding: 5px;
    position: relative;
    width: 200px;
    margin-left: 1300px;
    margin-top: 25px;
}

#signInButton:hover {
    background-color: #008CBA;
}

#logInButton {
    font-family: MyFont;
    border-radius: 8px;
    color: white;
    background-color: #171F2D;
    border: none;
    padding: 5px;
    position: absolute;
    width: 200px;
    margin-left: 1000px;
    margin-top: -34px;
}

#logInButton:hover {
    background-color: #008CBA;
}